body{
    background-color: #8E8E8E;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%239e9e9e' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23adadad' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23bdbdbd' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23cccccc' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23DCDCDC' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23e3e3e3' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23eaeaea' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23f1f1f1' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23f8f8f8' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23FFFFFF' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}


.dashboard-bIcon{
    font-size:20px;
    padding-right: 12px;
}


td.highlight {
    background-color: whitesmoke !important;
}

.row_selected td {
    background-color: rgba(255, 99, 132, 0.2) !important; /* Add !important to make sure override datables base styles */
    
}

table.dataTable thead tr {
  background-color: #337ab7;
  color:white;
}
.pull-right {
  float: right !important;
}
.vmiddle {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.table-cell-input{
    padding: 1px 1px 1px 1px;
    margin: 1px 1px 1px 1px;
    font-size:12px;
}

.rightClickCellSelected{
    background-color: #00d4ff99 !important;
}

#rightClickMenu {
    display:none;
    position:fixed;
    left:0px;
    top:0px;
}

.pickUpCell{
    /* background-color: red !important; */
    font-weight: bold;
    color: chartreuse !important;
}

.RowSelected{
    background-color: #e7f1ff !important;
    
}

.row_header{
    color:white !important;
    background-color: black !important;
}

#rightClickMenu.show {
    display: block;
}

.list-group-item-contextmenu {
    position: relative;
    display: block;
    padding: .2rem .4rem;
    color: #212529;
    text-decoration: none;
    background-color: #fff;
    border: .5px solid rgba(0,0,0,.125);
    font-size: .9rem;
}

.cell-loading{
    background-image:url(../../../static/image/Iphone-spinner-1.gif); 
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: center;
}


.selectGyoshuLabelVerticalGroup {
    padding: 10px 10px 10px 10px;
    width: 300px;
    vertical-align: top;
}

.headerLink{
    text-decoration: none;
    color:#454545;
    cursor: pointer;
}

.headerLink:hover{
    color:#a9a9a9;
}

.summaryCell{
    color:#212529;
    font-family: var(--bs-font-sans-serif);
    padding-left: 14px;
    padding-right: 14px;
    font-size:16px;
}

.dropcap{
    font-size: 15px;
}
.dropcap:first-letter {
    font-size: 32px;/*文字の大きさ*/
    margin-right: 6px;
    margin-top: 6px;
    float: left;
    line-height: 1;/*必要*/
    font-weight: 400;
}

.summaryHead{
    color:#212529;
    font-family: var(--bs-font-sans-serif);
    padding-left: 14px;
    padding-right: 14px;
    font-size:16px;
    text-align: center;
    border-bottom: 1px solid #212529;
}

.sihyoPopOver{
    float: left;
    padding: 0px 10px 0px 10px;
    margin-right: 10px;
}
.popover-header{
    font-size:13px;
    color:#454545;
}

.selectGyoshuLabel{
    padding:1px 1px 1px 1px ;
}

.popover{
    max-width: 100% !important;
}

.kaitei{
    font-size:14px;
    margin:0 0 5px 0;
}

.panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
}
.panel.with-nav-tabs .nav-tabs{
    border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
    margin-bottom: -1px;
}

.larger-badge {
    font-size: 0.8em;
}

.alert-index{
    padding: 2px 12px 2px 12px;
    font-weight: bold;
}

.subTitle{
    font-weight: bold;
    font-size:1.2rem;
    color:#454545;
}

.tdcell-center{
    text-align: center;
    align-items: center;
}

.tdcell-left{
    text-align: left;
}
.tdcell-right{
    text-align: right;
}

.spinner-lg {
    background-image:url(../../../static/image/load_anime.gif); 
    background-repeat:  no-repeat;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.btn-lglg{padding:10px 36px;font-size:26px;line-height:2.3333333;border-radius:6px}

/********************************************************************/
/*** PANEL DEFAULT ***/
.with-nav-tabs.panel-default .nav-tabs > li > a,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
}
.with-nav-tabs.panel-default .nav-tabs > .open > a,
.with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
    background-color: #ddd;
    border-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.active > a,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
    color: #555;
    background-color: #fff;
    border-color: #ddd;
    border-bottom-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #f5f5f5;
    border-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #777;   
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #555;
}
/********************************************************************/
/*** PANEL PRIMARY ***/
.with-nav-tabs.panel-primary .nav-tabs > li > a,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
    color: #fff;
}
.with-nav-tabs.panel-primary .nav-tabs > .open > a,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
    color: #fff;
    background-color: #3071a9;
    border-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:focus {
    color: #428bca;
    background-color: #fff;
    border-color: #428bca;
    border-bottom-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #428bca;
    border-color: #3071a9;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #fff;   
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #3071a9;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    background-color: #4a9fe9;
}

#loading {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
    background: rgba(0,0,0,0.5);
  }
  



  /* 非表示 */
.is-hide {
    display: none;
}
/* ローディング画面をフェードアウト */
.fadeout-bg {
    transition-property: opacity;
    transition-delay: .9s;
    transition-duration: .8s;
    opacity: 0;
    pointer-events: none;
}
/* ローダーをフェードアウト */
.fadeout-loader {
    transition-property: opacity;
    transition-delay: .9s;
    transition-duration: .3s;
    opacity: 0;
    pointer-events: none;
}
/* ローディング画面 */
#loader-bg {
    background: #ffffff;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
#loader {
    height: 120px;
    left: 50%;
    margin-left: -60px;
    margin-top: -60px;
    position: fixed;
    top: 50%;
    width: 120px;
}
#loader p {
    color: #454545;
    font-size: 10px;
    line-height: 1.4;
    text-align: center;
}
#loader p img {
    display: inline-block;
}

.loadableTable{
    text-align:center; 
    /* height:calc(100vh/3); */
    align-items: center;
    display: inline-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*　スクロールバーの実装 */
.table_sticky {
    display: block;
    overflow-y: scroll;
    /* height: calc(100vh/3); */
}
.table_sticky thead th {
    position: sticky;
    top: -1px;
    z-index: 1;
    background-color:#0c63e4;
    color: white;
    text-align: center;
    font-size: 0.9rem;
    font-weight: bold;
}

.rank_number{
    font-size:0px !important;
    color:red;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff!important;
    background-color: #454545!important;
}

.accordion-button {
    font-weight: bold;
    font-size:1.2rem;
}


.v_line_left {
    border-left: thick solid red;
    padding-left: 10px;
    position:relative;
    left: 7px;
  }


.circle{
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: skyblue;
    text-align:center;
    line-height: 40px;
}

.alert-messages{
    color:#dc3545
}

.form-control {
    display: block;
    width: 100%;
    padding: .2rem .5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.nav-link {
    display: block;
    padding: .5rem .5rem;
    color: #454545!important;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    font-size:.9rem;
}

/* .nav-link {
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    color: #454545!important;
} */

.table_sticky tbody td {
    /* white-space: nowrap; */
    font-size: 0.9rem;
}

.loadingDiv {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    border: 0.25em solid #ccc;
    border-top-color: #333;
    animation: spinner 1.5s linear infinite;
    display: inline-block;
  }

  @keyframes spinner {
    to {
      transform: rotate(360deg);
    }
  }

.badge-clickable {
    cursor: pointer;   
}

.loading-ss {
    background-image: url(../../../static/image/loading_ss.gif) !important;
    background-repeat: no-repeat;
    z-index: 9999;
    text-align: center;
    background-size: contain;
    background-position-y: center;
}


.xl-graph {
    /* position: relative; */
    /* display: block; */
    /* box-sizing: border-box; */
    height: 271px;
    width: 542px;
}

.list-group-item-sm{
    padding:4px 0px 4px 10px; 
    font-size:0.9rem;
    text-align: left;
}

.form-select-sm {
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: .5rem;
    font-size: .875rem;
    height: 30px;
}

::-webkit-scrollbar{
    width: 10px;
  }
  ::-webkit-scrollbar-track{
    background: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: inset 0 0 2px #777; 
  }
  ::-webkit-scrollbar-thumb{
    background: #ccc;
    border-radius: 10px;
    box-shadow: none;
  }