{% extends 'common.html' %}
 
{% block title %} ガヴテックワークス {% endblock %}

{% block content %}
%div.container-fluid
  %div.row
    %div.col-12
      %div(style="float:left; padding-right:30px")
        <header class="pb-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
            %span.fs-4
              <i class="bi bi-clouds-fill" style="padding-right:10px"></i>
              Gov Tech Works　ガヴテックワークス　BETA
          </a>
        </header>

      %div(style="float:left; padding-right:30px")
        %div#divLblWelcomeMessage
          
      %div(style="float:right;padding-right:30px")
        %a.btn.btn-dark.btn-sm(href="/logout/" role="button")
          サインアウト
  %div.row
    %div.col-4
      <div class="accordion" id="accdLeft">
        <div class="accordion-item">
          <h2 class="accordion-header" id="accdPanelHead-LeftTop">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accdPanelBody-LeftTop" aria-expanded="true" aria-controls="accdPanelBody-LeftTop">
              <i class="bi bi-pencil-fill dashboard-bIcon" ></i>依頼記録
            </button>
          </h2>
          <div id="accdPanelBody-LeftTop" class="accordion-collapse collapse show" aria-labelledby="accdPanelHead-LeftTop">
            %div.accordion-body
              %div.row
                %div.col-12
                  %div#accdPanelLeftTopTableArea
              %div.row
                %div.col-12
                  %button.btn.btn-primary(type="button")
                    新しい依頼を作成する

          </div>
        </div>
        %hr
        <div class="accordion-item">
          <h2 class="accordion-header" id="accdPanelHead-LeftMiddle">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accdPanelBody-LeftMiddle" aria-expanded="true" aria-controls="accdPanelBody-LeftMiddle">
              <i class="bi bi-server dashboard-bIcon" ></i>データ管理
            </button>
          </h2>
          <div id="accdPanelBody-LeftMiddle" class="accordion-collapse collapse show" aria-labelledby="accdPanelHead-LeftMiddle">
            <div class="accordion-body">
              <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
        %hr
        <div class="accordion-item">
          <h2 class="accordion-header" id="accdPanelHead-LeftBottom">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accdPanelBody-LeftBottom" aria-expanded="true" aria-controls="accdPanelBody-LeftBottom">
              <i class="bi bi-chat-right-dots-fill dashboard-bIcon" ></i>コンタクト管理
            </button>
          </h2>
          <div id="accdPanelBody-LeftBottom" class="accordion-collapse collapse show" aria-labelledby="accdPanelHead-LeftBottom">
            <div class="accordion-body">
              <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
      </div>


    %div.col-4
      <div class="accordion" id="accdCenter">
        <div class="accordion-item">
          <h2 class="accordion-header" id="accdPanelHead-CenterTop">
            <button id="btnAccdPanelHead-CenterTop" class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accdPanelBody-CenterTop" aria-expanded="true" aria-controls="accdPanelBody-CenterTop">
              <i class="bi bi-boxes dashboard-bIcon"></i>成果品管理
            </button>
          </h2>
          <div id="accdPanelBody-CenterTop" class="accordion-collapse collapse show" aria-labelledby="accdPanelHead-CenterTop">
            <div class="accordion-body">
              <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
        %hr
        <div class="accordion-item">
          <h2 class="accordion-header" id="accdPanelHead-CenterMiddle">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accdPanelBody-CenterMiddle" aria-expanded="true" aria-controls="accdPanelBody-CenterMiddle">
              <i class="bi bi-person-check-fill dashboard-bIcon"></i>登録会計士検索
            </button>
          </h2>
          <div id="accdPanelBody-CenterMiddle" class="accordion-collapse collapse show" aria-labelledby="accdPanelHead-CenterMiddle">
            <div class="accordion-body">
              <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
        %hr
        <div class="accordion-item">
          <h2 class="accordion-header" id="accdPanelHead-CenterBottom">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accdPanelBody-CenterBottom" aria-expanded="true" aria-controls="accdPanelBody-CenterBottom">
              <i class="bi bi-wifi dashboard-bIcon" ></i>公開団体情報
            </button>
          </h2>
          <div id="accdPanelBody-CenterBottom" class="accordion-collapse collapse show" aria-labelledby="accdPanelHead-CenterBottom">
            <div class="accordion-body">
              <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
      </div>



{% endblock %}

{% block scripts %}
  <script src="../static/holidays/lib/japanese-holidays.min.js"></script>
  <script src="../static/main/js/constants.js"></script>
  <script src="../static/main/js/main.js"></script>

{% endblock  %}


