{% extends 'common.html' %}
 
{% block title %} ガヴテックワークス {% endblock %}

{% block content %}
%div.container-fluid
  %div.row
    %div.col-12
      %div(style="float:left; padding-right:30px")
        <header class="pb-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
            %span.fs-4(style="font-weight:bold; font-size:2rem !Important")
              <i class="bi bi-clouds-fill" style="padding-right:10px"></i>
              Gov Tech Works　ガヴテックワークス　Beta
          </a>
        </header>

      %div(style="float:left; padding-right:130px")
        %div#divLblWelcomeMessage(style="top:10px; position:relative")
          
      
      %div(style="float:left;padding-right:30px")
        %a#btnOpenClose.btn.btn-outline-primary.btn-sm(href="#" role="button" style="top:10px; position:relative")
          折りたたむ

      %div(style="float:left;padding-right:30px")
        %a#btnIntroduction.btn.btn-outline-primary.btn-sm(href="#" role="button" style="top:10px; position:relative" data-bs-toggle="modal" data-bs-target="#modalIntroduction")
          はじめかた

      %div(style="float:right;padding-right:30px")
        %a.btn.btn-dark.btn-sm(href="/logout/" role="button" style="top:10px; position:relative")
          サインアウト
  %div.row
    %div.col-4
      <div class="accordion" id="accdLeft">
        <div class="accordion-item">
          <h2 class="accordion-header" id="accdPanelHead-LeftTop">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accdPanelBody-LeftTop" aria-expanded="true" aria-controls="accdPanelBody-LeftTop">
              <i class="bi bi-pencil-fill dashboard-bIcon" ></i>依頼記録
            </button>
          </h2>
          <div id="accdPanelBody-LeftTop" class="accordion-collapse collapse show" aria-labelledby="accdPanelHead-LeftTop">
            %div.accordion-body
              <strong>過去の注文情報を確認することができます。新たに注文する場合「新しい依頼を作成する」をクリックしてください。</strong>
              %hr
              %div.row
                %div.col-12
                  %div#accdPanelLeftTopTableArea
              %div.row
                %div.col-12
                  %button.btn.btn-primary(type="button")
                    新しい依頼を作成する

          </div>
        </div>
        %hr
        <div class="accordion-item">
          <h2 class="accordion-header" id="accdPanelHead-LeftMiddle">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accdPanelBody-LeftMiddle" aria-expanded="true" aria-controls="accdPanelBody-LeftMiddle">
              <i class="bi bi-server dashboard-bIcon" ></i>データ管理
            </button>
          </h2>
          <div id="accdPanelBody-LeftMiddle" class="accordion-collapse collapse show" aria-labelledby="accdPanelHead-LeftMiddle">
            %div.accordion-body
              <strong>取り込んだデータの件数を表示しています。</strong>
              %hr
              %div.row
                %div.col-12
                  %div#accdPanelLeftMiddleTableArea
              %div.row
                %div.col-12
                  %button.btn.btn-primary(type="button")
                    Excel出力
              
          </div>
        </div>
        %hr
        <div class="accordion-item">
          <h2 class="accordion-header" id="accdPanelHead-LeftBottom">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accdPanelBody-LeftBottom" aria-expanded="true" aria-controls="accdPanelBody-LeftBottom">
              <i class="bi bi-chat-right-dots-fill dashboard-bIcon" ></i>コンタクト管理
            </button>
          </h2>
          <div id="accdPanelBody-LeftBottom" class="accordion-collapse collapse show" aria-labelledby="accdPanelHead-LeftBottom">
            %div.accordion-body
              <strong>依頼先にメッセージや添付ファイルを送ることができます。</strong>
              %hr
              %div.row
                %div.col-12
                  %div.input-group.input-group-sm.mb-3
                    <span class="input-group-text" id="basic-addon1">連絡先</span>
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                      <option value="1">さとう会計事務所</option>
                      <option value="2">すずき会計事務所</option>
                    </select>
              %div.row
                %div.col-12
                  %div.input-group.input-group-sm.mb-3
                    <textarea class="form-control" placeholder="連絡内容をココに書いて、送信ボタンをクリック。" aria-label="With textarea" style="height:100px;"></textarea>
              %div.row
                %div.col-auto
                  %div.input-group.input-group-sm.mb-3
                    %input.form-control#inpFileImport(type="file")
              %div.row
                %div.col-6
                  %button.btn.btn-sm.btn-primary(type="button")
                    送信
                %div.col-6(style="text-align:right")
                  %button.btn.btn-sm.btn-primary(type="button")
                    過去のコンタクトを確認
          </div>
        </div>
      </div>



    %div.col-4
      <div class="accordion" id="accdCenter">
        <div class="accordion-item">
          <h2 class="accordion-header" id="accdPanelHead-CenterTop">
            <button id="btnAccdPanelHead-CenterTop" class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accdPanelBody-CenterTop" aria-expanded="true" aria-controls="accdPanelBody-CenterTop">
              <i class="bi bi-boxes dashboard-bIcon"></i>成果品管理
            </button>
          </h2>
          <div id="accdPanelBody-CenterTop" class="accordion-collapse collapse show" aria-labelledby="accdPanelHead-CenterTop">
            %div.accordion-body
              <strong>成果物が納品されています。ファイル名を選択してダウンロードボタンで入手してください。</strong>
              %hr
              %div.row
                %div.col-12
                  %div#accdPanelCenterTopTableArea
              %div.row
                %div.col-12
                  %button.btn.btn-primary(type="button")
                    ダウンロード
          </div>
        </div>
        %hr
        <div class="accordion-item">
          <h2 class="accordion-header" id="accdPanelHead-CenterMiddle">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accdPanelBody-CenterMiddle" aria-expanded="true" aria-controls="accdPanelBody-CenterMiddle">
              <i class="bi bi-person-check-fill dashboard-bIcon"></i>登録会計士検索
            </button>
          </h2>
          <div id="accdPanelBody-CenterMiddle" class="accordion-collapse collapse show" aria-labelledby="accdPanelHead-CenterMiddle">
            %div.accordion-body
              %div.row
                %div.col-9
                  <strong>お気に入りの会計士を見つけよう。</strong>
                %div.col-3(style="text-align:right")
                  %button.btn.btn-sm.btn-primary(type="button")
                    詳細検索
              %hr
              %div.row
                %div.col-2
                  <img src="../static/image/account_pattern1.svg" style="max-width: 100%; height: auto; cursor:pointer" class="img-thumbnail" alt="...">
                %div.col-10
                  %div
                    <span class="badge bg-success" style="width:20%">事業所名</span>
                    <span style="padding-left:20px">さとう会計事務所</span>
                  %div
                    <span class="badge bg-success" style="width:20%">評価点</span>
                    <span style="padding-left:20px; color:#dd4646">★★★★☆</span>
                  %div
                    <span class="badge bg-success" style="width:20%">地域</span>
                    <span style="padding-left:20px">新潟県</span>
              %hr
              %div.row
                %div.col-2
                  <img src="../static/image/account_pattern1.svg" style="max-width: 100%; height: auto; cursor:pointer" class="img-thumbnail" alt="...">
                %div.col-10
                  %div
                    <span class="badge bg-success" style="width:20%">事業所名</span>
                    <span style="padding-left:20px">すずき会計事務所</span>
                  %div
                    <span class="badge bg-success" style="width:20%">評価点</span>
                    <span style="padding-left:20px; color:#dd4646">★☆☆☆☆</span>
                  %div
                    <span class="badge bg-success" style="width:20%">地域</span>
                    <span style="padding-left:20px">東京都内</span>
          </div>
        </div>
        %hr
        <div class="accordion-item">
          <h2 class="accordion-header" id="accdPanelHead-CenterBottom">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accdPanelBody-CenterBottom" aria-expanded="true" aria-controls="accdPanelBody-CenterBottom">
              <i class="bi bi-wifi dashboard-bIcon" ></i>公開団体情報
            </button>
          </h2>
          <div id="accdPanelBody-CenterBottom" class="accordion-collapse collapse show" aria-labelledby="accdPanelHead-CenterBottom">
            %div.accordion-body
              <strong>情報公開を許可設定している地方公共団体の一覧です。経営状況を確認できます。</strong>
              %hr
              %div.row
                %div.col-12
                  %span.badge.rounded-pill.bg-warning.text-dark(style="font-size:1rem;margin-right:4px;cursor:pointer; margin-bottom:3px")
                    ○○市
                  %span.badge.rounded-pill.bg-warning.text-dark(style="font-size:1rem;margin-right:4px;cursor:pointer; margin-bottom:3px")
                    ××町
                  %span.badge.rounded-pill.bg-warning.text-dark(style="font-size:1rem;margin-right:4px;cursor:pointer; margin-bottom:3px")
                    ローマ
                  %span.badge.rounded-pill.bg-warning.text-dark(style="font-size:1rem;margin-right:4px;cursor:pointer; margin-bottom:3px")
                    パリ
                  %span.badge.rounded-pill.bg-warning.text-dark(style="font-size:1rem;margin-right:4px;cursor:pointer; margin-bottom:3px")
                    モスクワ
                  %span.badge.rounded-pill.bg-warning.text-dark(style="font-size:1rem;margin-right:4px;cursor:pointer; margin-bottom:3px")
                    シドニー
                  %span.badge.rounded-pill.bg-warning.text-dark(style="font-size:1rem;margin-right:4px;cursor:pointer; margin-bottom:3px")
                    上海
                  %span.badge.rounded-pill.bg-warning.text-dark(style="font-size:1rem;margin-right:4px;cursor:pointer; margin-bottom:3px")
                    シカゴ
                  %span.badge.rounded-pill.bg-warning.text-dark(style="font-size:1rem;margin-right:4px;cursor:pointer; margin-bottom:3px")
                    アトランタ
                  %span.badge.rounded-pill.bg-warning.text-dark(style="font-size:1rem;margin-right:4px;cursor:pointer; margin-bottom:3px")
                    リオデジャネイロ
                  %span.badge.rounded-pill.bg-warning.text-dark(style="font-size:1rem;margin-right:4px;cursor:pointer; margin-bottom:3px")
                    ワシントン
                  %span.badge.rounded-pill.bg-warning.text-dark(style="font-size:1rem;margin-right:4px;cursor:pointer; margin-bottom:3px")
                    モントリオール
                  %span.badge.rounded-pill.bg-warning.text-dark(style="font-size:1rem;margin-right:4px;cursor:pointer; margin-bottom:3px")
                    ロサンゼルス
                  %span.badge.rounded-pill.bg-warning.text-dark(style="font-size:1rem;margin-right:4px;cursor:pointer; margin-bottom:3px")
                    東京
              %hr
              %div.row
                %div.col-6
                  %button.btn.btn-sm.btn-primary(type="button")
                    もっと見る
                %div.col-6(style="text-align:right")
                  %button.btn.btn-sm.btn-primary(type="button")
                    あなたも公開しますか？

          </div>
        </div>
      </div>




    %div.col-4
      <div class="accordion" id="accdRight">
        <div class="accordion-item">
          <h2 class="accordion-header" id="accdPanelHead-RightTop">
            <button id="btnAccdPanelHead-RightTop" class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accdPanelBody-RightTop" aria-expanded="true" aria-controls="accdPanelBody-RightTop">
              <i class="bi bi-calendar3 dashboard-bIcon"></i>スケジュール管理
            </button>
          </h2>
          <div id="accdPanelBody-RightTop" class="accordion-collapse collapse show" aria-labelledby="accdPanelHead-RightTop">
            %div.accordion-body
              %div.row
                %div.input-group.input-group-sm.mb-3
                  <span class="input-group-text" id="basic-addon1">依頼内容</span>
                  <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                    <option value="1">令和元年度財務書類作成</option>
                    <option value="2">令和２年度財務書類作成</option>
                  </select>

              %div.row
                %div.col-auto
                  %span.circle.circle-fill
                    1
                %div.col-auto
                  %span.task.task-fill
                    依頼の作成
                
              %div.row
                %div.col-6
                  %div.v_line_left.v_line_left_fill.task_contents.task_contents_fill
                    %div.row
                      %div.col-12
                        依頼内容と依頼先の決定
                    %div.row
                      %div.col-12
                        作業内容の仕様合意
                    %div.row
                      %div.col-12
                        作業スケジュールの確認
                    %div.row
                      %div.col-12
                        &nbsp;

              %div.row
                %div.col-auto
                  %span.circle.circle-fill
                    2
                %div.col-auto
                  %span.task.task-fill
                    財務データ提出
                
              %div.row
                %div.col-6
                  %div.v_line_left.v_line_left_fill.task_contents.task_contents_fill
                    %div.row
                      %div.col-12
                        予算科目マスタ・執行伝票データ
                    %div.row
                      %div.col-12
                        仕訳パターン・変換マスタ
                    %div.row
                      %div.col-12
                        固定資産台帳データ
                    %div.row
                      %div.col-12
                        &nbsp;

              %div.row
                %div.col-auto
                  %span.circle
                    3
                %div.col-auto
                  %span.task
                    仕訳情報の作成

              %div.row
                %div.col-6
                  %div.v_line_left.task_contents
                    %div.row
                      %div.col-12
                        伝票データの一括仕訳
                    %div.row
                      %div.col-12
                        固定資産データ分の反映
                    %div.row
                      %div.col-12
                        決算整理仕訳の作成
                    %div.row
                      %div.col-12
                        &nbsp;

              %div.row
                %div.col-auto
                  %span.circle
                    4
                %div.col-auto
                  %span.task
                    付帯情報の作成

              %div.row
                %div.col-6
                  %div.v_line_left.task_contents
                    %div.row
                      %div.col-12
                        伝票と固定資産の関連付け
                    %div.row
                      %div.col-12
                        連結対象団体のデータ反映
                    %div.row
                      %div.col-12
                        &nbsp;
                    %div.row
                      %div.col-12
                        &nbsp;

              %div.row
                %div.col-auto
                  %span.circle
                    5
                %div.col-auto
                  %span.task
                    成果書類の事前チェック

              %div.row
                %div.col-6
                  %div.v_line_left.task_contents
                    %div.row
                      %div.col-12
                        書類の過不足確認
                    %div.row
                      %div.col-12
                        書式・体裁の調整
                    %div.row
                      %div.col-12
                        数値の整合確認
                    %div.row
                      %div.col-12
                        &nbsp;

              %div.row
                %div.col-auto
                  %span.circle
                    6
                %div.col-auto
                  %span.task
                    納品完了

          </div>
        </div>
      </div>





<div class="modal fade" id="modalIntroduction" tabindex="-1" aria-labelledby="exampleModalXlLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title h4" id="exampleModalXlLabel">はじめかた</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      %div.modal-body#modalBodyIntroduction
    </div>
  </div>
</div>



{% endblock %}

{% block scripts %}
  <script src="../static/holidays/lib/japanese-holidays.min.js"></script>
  <script src="../static/main/js/constants.js"></script>
  <script src="../static/main/js/main.js"></script>
  <script src="../static/main/js/introduction.js"></script>

{% endblock  %}


